.github
.vscode
.yarn
/api/
/src/
/certs/
/docker/
/docs/
/kubernetes/
/test/
/pkg/
/store/
/build/
/public/

/.*
/*.ts
/*.js
/kustomization.yaml
/fakeNodes.json
/nodemon.json
/package.sh
/index.html

/tsconfig.*

/*.md
/*.tgz
