#nprogress .spinner {
  right: 50% !important;
}

::-webkit-scrollbar {
  height: 10px;
  width: 8px;
  background: rgba(0, 0, 0, 0.233);
  padding-right: 10;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 1ex;
  -webkit-border-radius: 1ex;
}

/* Hacky hack. Remove scrollbars for 320 width screens */
@media screen and (max-width: 320px) {
  body::-webkit-scrollbar {
    display: none;
  }
}

.mono {
	font-family: Fira Code, Consolas, 'Andale Mono WT', 'Andale Mono',
		'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono',
		'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco,
		'Courier New', Courier, monospace !important;
}

.fill {
  width: 100% !important;
  height: 100% !important;
}

.fill-height {
  height: 100% !important;
}

.fill-width {
  width: 100% !important;
}
