#nprogress .spinner {
  right: 50% !important;
}

::-webkit-scrollbar {
  height: 5px;
  width: 4px;
  background: transparent;
  padding-right: 10;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 1ex;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* Hacky hack. Remove scrollbars for 320 width screens */
@media screen and (max-width: 320px) {
  body::-webkit-scrollbar {
    display: none;
  }
}
