name: Post Release Notes to Discord

on:
  release:
    types:
      - published

jobs:
  post-release-notes:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v5

      - uses: actions/github-script@v8
        name: Post release notes to Discord
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
        with:
          script: |
            const { default: script } = await import('file://${{ github.workspace }}/.github/bot-scripts/post-release-notes.js')
            await script({github, context, fetch})