name: Docker Test

on:
  pull_request:
    paths-ignore:
      - 'docs/**'

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platforms: [linux/amd64, linux/arm64, linux/arm/v6, linux/arm/v7]
    steps:
      - uses: actions/checkout@v2

      - uses: docker/setup-buildx-action@v1.3.0
      - uses: docker/setup-qemu-action@v1.2.0
      - uses: actions/github-script@v3
        id: ref-sanitized
        with:
          script: |
            const ref = context.ref
            return ref.replace(/^refs\/heads\/|-/, '')

      - name: Create Docker Meta
        id: docker_meta
        uses: crazy-max/ghaction-docker-meta@v3.6.2
        with:
          images: zwavejs/zwavejs2mqtt
          tag-sha: false
          tag-latest: false
          label-custom: |
            org.opencontainers.image.vendor=zwave-js
            org.opencontainers.image.documentation=https://zwave-js.github.io/zwavejs2mqtt/#/
            org.opencontainers.image.authors=Daniel Lando <daniel.sorridi@gmail.com>
            org.opencontainers.image.url=https://zwave-js.github.io/zwavejs2mqtt/#/
            maintainer=robertsLando

      - name: Buildx build
        uses: docker/build-push-action@v2
        with:
          platforms: ${{ matrix.platform }}
          file: docker/Dockerfile
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: false
          tags: ${{ steps.docker_meta.outputs.tags }}
