name: Build pkg arm64

on:
  release:
    types:
      - created
  workflow_dispatch:

jobs:
  build:
    name: Build package and attach to release
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      - name: Install and pre-build
        run: |
          npm ci
          npm run build

      - uses: uraimo/run-on-arch-action@v2
        name: Package
        with:
          arch: none # arm64
          distro: none # bullseye

          dockerRunArgs: |
            --volume "${PWD}:/app"

          base_image: '--platform=linux/arm64 arm64v8/node:18-bullseye'

          # Rebuild .node modules for am64
          run: |
            cd /app
            npm rebuild

      - name: Build for arm64
        run: |
          npm run pkg -- --bundle --skip-build --arch=arm64
      
      - name: Upload artifacts
        if: github.event_name == 'workflow_dispatch'
        uses: actions/upload-artifact@v4
        with:
          name: pkg-build
          path: ./build/pkg/*.zip

      - name: Upload binaries to release
        if: github.event_name == 'release'
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./build/pkg/*.zip
          file_glob: true
          tag: ${{ github.ref }}
          overwrite: true
